{% extends "layout.html" %}
{% block title %}Device Credentials{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/device_credential.css') }}">
{% endblock %}
{% block body %}
  
<div class="main-content">
    <div class="path_content" id="path_content"> 
        <div id="breadcrumbContainer">
            <h5><img src="https://img.icons8.com/3d-fluency/94/user-credentials.png" 
                class="menu-icon" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px;">
                Network & Comms Settings > Device Credential</h5>
        </div>
    </div>
    
    <div class="container">
        <div class="section-card">
            <!-- <div class="toggle-buttons">
                <button class="toggle-button active" data-form="eSimForm" onclick="toggleForm('eSimForm')">e-SIM Device Management</button>
                <button class="toggle-button inactive" data-form="ethernetForm" onclick="toggleForm('ethernetForm')">Ethernet Device Management</button>
            </div> -->
            
            <div id="eSimForm" class="form-section active">
                <h2>Device Credentials</h2>
                <form action="/device_credentials" method="post">
                    <div class="form-group">
                        <label for="access_token">Access ID</label>
                        <input type="text" id="access_token" name="access_token" placeholder="Enter Access ID" value="{{ mpdata.accessToken if mpdata else '' }}">
                    </div>

                    <div class="form-group">
                        <label for="clientId">Client ID</label>
                        <input type="text" id="clientId" name="clientId" placeholder="Enter Client ID" value="{{ mpdata.clintId if mpdata else '' }}">
                    </div>


                    <div class="form-group">
                        <label for="user_name">User Name</label>
                        <div class="password-field">
                            <input type="text" id="user_name" name="user_name" placeholder="Enter User Name" value="{{  mpdata.userName if mpdata else '' }}">
                            <!-- <span class="toggle-password" onclick="togglePasswordVisibility('deviceSecret')"><i class="fas fa-eye"></i></span> -->
                        </div>
                    </div>

                   <div class="form-group">
                        <label for="password">Password</label>
                        <div class="password-field">
                            <input type="password" id="password" name="password" placeholder="Enter Password" value="{{  mpdata.Pass if mpdata else '' }}">
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="solId">SOL ID</label>
                        <input type="text" id="solId" name="solId" placeholder="Enter SOL ID" value="{{  mpdata.dvName if mpdata else '' }}">
                    </div>
                    
                    
                    
                    <!-- <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Enter Username" value="{{ esim_credentials.username if esim_credentials else '' }}">
                    </div> -->
                    
                    

                                   
                    
                    <div class="btn-container">
                        <button type="submit" class="btn">Save Credentials</button>
                    </div>
                </form>
            </div>

            <!-- <div id="ethernetForm" class="form-section">
                <h2>Ethernet Device Credentials</h2>
                <form action="/device_credentials" method="post">
                    <div class="form-group">
                        <label for="ethernetDeviceKey">Device Key</label>
                        <input type="text" id="ethernetDeviceKey" name="ethernetDeviceKey" placeholder="Enter Device Key" value="{{ ethernet_credentials.device_key if ethernet_credentials else '' }}" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="ethernetDeviceSecret">Device Secret</label>
                        <div class="password-field">
                            <input type="password" id="ethernetDeviceSecret" name="ethernetDeviceSecret" placeholder="Enter Device Secret" value="{{ ethernet_credentials.device_secret if ethernet_credentials else '' }}">
                            <span class="toggle-password" onclick="togglePasswordVisibility('ethernetDeviceSecret')"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="accessToken">Access Token</label>
                        <div class="password-field">
                            <input type="password" id="accessToken" name="accessToken" placeholder="Enter Access Token" value="{{ ethernet_credentials.access_token if ethernet_credentials else '' }}">
                            <span class="toggle-password" onclick="togglePasswordVisibility('accessToken')"><i class="fas fa-eye"></i></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="deviceName">Device Name</label>
                        <input type="text" id="deviceName" name="deviceName" placeholder="Enter Device Name" value="{{ ethernet_credentials.device_name if ethernet_credentials else '' }}">
                    </div>
                    
                    <div class="btn-container">
                        <button type="submit" class="btn">Save Credentials</button>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</div>

<script>
    function toggleForm(formId) {
        const forms = document.querySelectorAll('.form-section');
        forms.forEach(form => {
            form.classList.remove('active');
        });
        document.getElementById(formId).classList.add('active');

        const buttons = document.querySelectorAll('.toggle-button');
        buttons.forEach(button => {
            button.classList.remove('active');
            button.classList.add('inactive');
        });
        document.querySelector(`[data-form="${formId}"]`).classList.add('active');
        document.querySelector(`[data-form="${formId}"]`).classList.remove('inactive');
    }
    
    function togglePasswordVisibility(inputId) {
        const passwordInput = document.getElementById(inputId);
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        
        const icon = event.currentTarget.querySelector('i');
        if (type === 'text') {
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('.toggle-button').click();
        
        const buttons = document.querySelectorAll('.toggle-button, .btn');
        buttons.forEach(button => {
            button.addEventListener('touchstart', function() {
                this.style.transform = 'scale(0.97)';
            });
            
            button.addEventListener('touchend', function() {
                this.style.transform = '';
            });
        });
    });
</script>

<style>
    .password-field {
        position: relative;
        width: 100%;
    }
    
    .toggle-password {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--gray-color);
    }
    
    .toggle-password:hover {
        color: var(--primary-color);
    }
    
    @media (max-width: 480px) {
        .toggle-password {
            padding: 10px;
            right: 0;
        }
    }
</style>

{% endblock %}
