<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Login Page</title>
    <link rel="icon" href="{{ url_for('static', filename='asset/TitleLogo.png') }}" type="image/x-icon" >
</head>
<body>
    <div class="center">
        <!-- <div class="container mh">Welcome to the Dexter WebServer</div> -->
    <div class="container">
        <div class="heading">Login to WebServer</div>
        <form class="form" action="/login"  method="post">
            <div class="user-type-selector">
                <label class="radio-label">
                    <input type="radio" name="user_type" value="user" checked>
                    <span class="radio-custom"></span>
                    USER
                </label>
                <label class="radio-label">
                    <input type="radio" name="user_type" value="site_engineer">
                    <span class="radio-custom"></span>
                  INSTALLATION
                </label>
            </div>
            
            <input 
            placeholder="Username"
            id="username"
            name="username"
            type="text"
            class="input"
            required autocomplete="username"/>

            <input 
            placeholder="Password"
            id="password"
            name="password"
            type="password"
            class="input"
            required autocomplete="current-password"/>

            <span class="forgot-password"><a href="/resetpassword"><b>Reset your password</b></a></span>
            <input value="Sign In" type="submit" class="login-button"/>
        </form>
    </div></div>
    {% if alert_userpass %}
    <script>
      alert("Invalid Username or Password");
    </script>
    {% endif %}
    {% if access_denied %}
    <script>
      alert("Access Denied: You don't have permission to access this page. Please login as Site Engineer.");
    </script>
    {% endif %}
    {% if reset_password %}
    <script>
      alert("Your Password is reset");
    </script>
    {% endif %}
    {% if restart %}
    <script>
      document.body.innerHTML = `
  <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px;">
    <div style="position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; animation: spin 2s linear infinite;">
    </div>
    <h3 style="position: absolute; transform: translate(-10%, 350%);">Rebooting...</h3>
  </div>
  
`;

document.styleSheets[0].insertRule(`
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
`, 0);

setTimeout(() => {
  location.href = "/login"; // redirect to login page after 10 seconds
}, 10000);
    </script>
    {% endif %} 
    {% if poweroff %}
    <script>
      document.body.innerHTML = `
  <div style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 120px; height: 120px;">
    <div style="position: absolute; top: 0; left: 0; width: 50px; height: 50px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #3498db; animation: spin 2s linear infinite;">
    </div>
    <h4 style="position: absolute; transform: translate(-10%, 350%);">Shutting Down</h4>
  </div>
  
`;

document.styleSheets[0].insertRule(`
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
`, 0);

setTimeout(() => {
  location.href = "/login"; // redirect to login page after 10 seconds
}, 50000);
    </script>
    {% endif %}     
    <!-- {% if login %}
      <script>
        alert("Login Successfull");
      </script>
      {% endif %} -->
</body>
</html>
