{% extends "layout.html" %}
{% block title %}coming Soon...{% endblock %}
{% block body %}

    

<div class="main-content">
    
    <div class= "path_content" id="path_content"> 
        <div id="breadcrumbContainer">
            <h5><i class="fas fa-cogs menu-icon" style="width: 30px; height: 30px; vertical-align: middle; margin-right: 8px; font-size: 30px;"></i></h5>
        </div>
    </div>
    
    <div class="container">
    <div class="maintenance-icon">
        <i class="fas fa-tools"></i>
    </div>
    <h1>We'll be back soon!</h1>
    <p>Sorry for the inconvenience but we're performing some maintenance at the moment. We'll be back online shortly!</p>
    <p>&mdash; Team SEPLe</p>
    </div>
</div>
    
{% endblock %}
